<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 25rem">
      <div class="card-header text-center">{{operacion}} Product</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addProduct()">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name"
          />
          <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">El campo Nombre es <strong>requerido</strong></span>
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Enter Description"
            formControlName="description"
          />
          <span *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">El campo Descripción es <strong>requerido</strong></span>
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Enter Price"
            formControlName="price"
          />
          <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched">El campo Precio es <strong>requerido</strong></span>
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Enter Stock"
            formControlName="stock"
          />
          <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">El campo Stock es <strong>requerido</strong></span>
          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button type="button" class="btn btn-secondary" routerLink="/products">
                Back
              </button>
            </div>
            <div class="col-lg-6">
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Done</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
