<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container list-product">
  
  <table *ngIf="listProducts.length > 0" class="table table-hover">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col"></th>
    </tr>

    <tbody>
      <tr *ngFor="let product of listProducts" class="table-active">
        <td scope="row">{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm" routerLink="/edit/{{product.id}}">Edit</button>
          <button (click)="removeProduct(product.id!)" type="button" class="btn btn-secondary btn-sm ms-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="add-product">
    <button type="button" class="btn btn-primary" routerLink="/add">Add Product</button>
  </div>
  <h5 *ngIf="listProducts.length == 0">There are not products to show.</h5>
</div>
